In [1]:
print("hello")

hello

In [2]:
x = 5
print(type(x))

<class 'int'>

In [4]:
x = "123"
y = int(x)

In [6]:
name = input("What is your name? ")
age = int(input("How old are you? "))
print("Hello", name, "you are", age, "years old.")

What is your name?  Hameed
How old are you?  42

Hello Hameed you are 42 years old.

In [7]:
age

42

In [9]:
name

'Hameed'

In [10]:
x = "123"
y = int(x) 
print(x,y)

123 123

In [12]:
s = "hellp"
print(s)

hellp

In [14]:
d = True
print(d)

True

In [26]:
myname = "Hameed"
age = 43
height = 5.9
print("My name is "+myname","+"I am "+age+"years old")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (913593413.py, line 4)

In [25]:
print(f"My name is {name}, I am {age} years old, and I am {height} feet tall.")

My name is Hameed, I am 42 years old, and I am 5.9 feet tall.

In [27]:
a="hello"
b=32
c=True
d=5.8
print(type(a))

<class 'str'>

In [29]:
print(type(a)+:type(b))

SyntaxError: invalid syntax (4111853381.py, line 1)

In [39]:
s = input("your fav color")
a = int(input("your lucky no"))
print(f"hello {s}and{a}")

your fav color f
your lucky no 4

hello fand4

In [40]:
age = 25

# 1. str()
print("Age: " + str(age))

# 2. f-string
print(f"Age: {age}")

# 3. format()
print("Age: {}".format(age))

# 4. print with commas
print("Age:", age)

Age: 25
Age: 25
Age: 25
Age: 25

In [41]:
a = 5
b = 10

a, b = b, a

print("a =", a)  # Output: a = 10
print("b =", b)  # Output: b = 5

a = 10
b = 5

In [44]:
# 1. Get the bill amount
bill = float(input("Enter the total bill amount: $"))

# 2. Get the tip percentage (e.g., 10, 15, 20)
tip_percent = float(input("Enter the tip percentage (e.g., 15 for 15%): "))

# 3. Calculate the tip
tip_amount = (tip_percent / 100) * bill

# 4. Calculate the total bill
total_amount = bill + tip_amount

# 5. Display the result (rounded to 2 decimal places)
print(f"Tip Amount: ${tip_amount:.2f}")
print(f"Total Amount to Pay: ${total_amount:.2f}")

Enter the total bill amount: $ 324
Enter the tip percentage (e.g., 15 for 15%):  32

Tip Amount: $103.68
Total Amount to Pay: $427.68